<body style="background-image: url('{{data2}}');">
   <div class="layer">
<div class="container">
    <div class="row g-4" id="detailsData" >
 
        <div class="col-md-4 py-5" >
            <div class="position-relative" (mouseenter)="startVideo(videoPlayer , img)" (mouseleave)="stopVideo(videoPlayer , img)" >
               
               <img [src]="data.thumbnail" class="w-100  rounded-2" alt="details image" #img />
              
               <video [muted]="true" [loop]="true"  class="w-100 rounded-2 h-100 position-absolute top-0 start-0  z-3 d-none"   #videoPlayer [attr.src]="data3">
                  </video>
           
               </div>
               <div class="row mt-3"> <div class="col-3 col-lg-2 me-2 " > 
             
               <span class="btn btn-dark mb-3 ">FREE</span> </div> 
               <div class="col ">
                <a type="button" name="playnow" class="btn btn-ftg-blue btn-block" [href]='data.game_url' rel="nofollow" target="_blank">
               <strong>PLAY NOW </strong>
               <i class="fas fa-sign-out-alt"></i>
               </a> 
               </div> 
               </div>
           
         </div>
         <div class="col-md-8 py-5">
         
            <div>
               <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item text-reset"><a href="./home.html">Home</a></li>
                     <li class="breadcrumb-item text-info" aria-current="page">{{data.title}}</li>
                  </ol>
               </nav>
         
               <h1>{{data.title}}</h1>
         
               <h3>About {{data.title}}</h3>
               <p class="h5">{{data.description}}</p>
               <div *ngIf="oog == true">
               <h3>Minimum System Requirements</h3>
               <h6 class="py-2">graphics : {{data.minimum_system_requirements.graphics}}</h6>
               <h6 class="py-2">memory : {{data.minimum_system_requirements.memory}} Ram</h6>
               <h6 class="py-2">os : {{data.minimum_system_requirements.os}}</h6>
               <h6 class="py-2">processor : {{data.minimum_system_requirements.processor}}</h6>
               <h6 class="py-2">storage : {{data.minimum_system_requirements.storage}}</h6>
            </div>
               <h2 class="h3 font-weight-dark  text-lg-left mt-5 mb-0 pb-3">{{data.title}} Online Screenshots</h2>
               <div class="row text-center text-lg-left"> 
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide><img class="thumb-gallery shadow-sm rounded w-100" [src]="data.screenshots[0].image" alt="Drakensang Online Thumbnail 1"> </ng-template>  
                    <ng-template carouselSlide><img class="thumb-gallery shadow-sm rounded w-100" [src]="data.screenshots[1].image" alt="Drakensang Online Thumbnail 1"> </ng-template>  
                    <ng-template carouselSlide><img class="thumb-gallery shadow-sm rounded w-100" [src]="data.screenshots[2].image" alt="Drakensang Online Thumbnail 1"> </ng-template>  
                  </owl-carousel-o>
                   </div>
                   <h2 class="mt-5 h3">Additional Information</h2>
                   <div class="row mb-3"> 
                   <div class="col-6 col-md-4"> 
                   <span class="text-light">Title<br></span> 
                   <p class="text-info">{{data.title}}</p> </div>
                    <div class="col-6 col-md-4">
                     <span class="text-light">Developer<br></span> 
                     <p class="text-info"> {{data.developer}}</p> </div>
                      <div class="col-6 col-md-4"> 
                      <span class="text-light">Publisher<br></span> 
                      <p class="text-info"> {{data.publisher}}</p> </div>
                       <div class="col-6 col-md-4">
                        <span class="text-light">Release Date<br></span> 
                        <p class="text-info">{{data.release_date}}</p> </div> <div class="col-6 col-md-4">
                         <span class="text-light">Genre<br></span> <p class="text-info"> data.genre</p> </div>
                          <div class="col-6 col-md-4"> <span class="text-light">Platform<br></span>
                          <p class="text-info">  <i class="fas fa-window-maximize"></i> {{data.platform}} </p>
                           </div> 
                   </div>
            </div>
         </div>
</div>
</div>
</div>
</body>